<div class="container">
  <div class="card">
      <div class="card-body">
        <form [formGroup]="enviarCheck" (ngSubmit)="submitCrear()" >
          <span class="h3"> Lista de partidos</span>
        
          <button type="submit" class="btn btn-dark btn-lg" style="float: right;" routerLink="/crearPartido">Agregar</button>
          
          <table class="table table-striped mt-3">
            <tr>
              <th scope="col">Cancha</th>
              <th scope="row">Direccion</th>
              <th scope="col">Creador</th>
              <th scope="col">Telefono</th>
              <th scope="col">Posicion</th>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
              <th scope="col">Observaciones</th>
              <th scope="col">Confirmar</th>
            </tr>
          
            <tr *ngFor="let dato of place">
              <td>{{ dato.nombreCancha }}</td>
              <td>{{ dato.Direccion }}</td>
              <td>{{ dato.Creador }}</td>
              <td>{{ dato.Telefono }}</td>
              <td>{{ dato.Posicion }}</td>
              <td>{{ dato.Fecha }}</td>
              <td>{{ dato.Hora }}</td>
              <td>{{ dato.Observaciones }}</td>
              <td class="text-center">
                <button type="button" class="btn btn-outline-success" (click)="asistir(dato)">Asistir</button>
              </td>
            </tr>
          </table>          
        </form>
      </div>
  </div>
</div>