<!-- menu.component.html -->
<body>

<h1>MENU</h1>
<br>
<div class="logo-container">
  <img src="https://i.postimg.cc/bJBsYmRY/image-removebg-preview.png" >
 </div>
 
<div class="gallery">
  <img src="https://i.postimg.cc/qRDjYbTw/image.png" alt="a hot air balloon" (click)="redirect('/history')">
  <img src="https://i.postimg.cc/vmWJJdqz/image.png" (click)="redirect('/crearPartido')">
  <img src="https://i.postimg.cc/LswV3qBQ/image.png" alt="a small boat" (click)="redirect('/login')">
  <img src="https://i.postimg.cc/x8YTwR3k/Whats-App-Image-2023-11-23-at-3-31-53-PM.jpg" alt="a forest" (click)="redirect('/listaDePatidos')">
</div>

<header>
  <div class="logo-container">
    <img src="https://i.postimg.cc/bJBsYmRY/image-removebg-preview.png" >
   </div>
</header>
<br><br>



</body>